<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformHandler" path="*" verb="*" modules="httpplatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform processPath="C:\Python\python.exe"
                      arguments="run_server.py"
                      startupTimeLimit="60"
                      startupRetryCount="3"
                      shutdownTimeLimit="420"
                      stdoutLogEnabled="true"
                      stdoutLogFile="logs\python.log">
        </httpPlatform>
        <httpErrors existingResponse="PassThrough" />
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Access-Control-Allow-Private-Network" value="true" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <!-- 50MB: supports bulk invoice multiple file uploads -->
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>